:root {
  --white: hsl(0, 0%, 100%);
  --green: hsl(75, 94%, 57%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

body {
    background-color: var(--off-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    
}
.container {
    width: 27rem;
    height: 42rem;
    background-color: var(--dark-grey);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image img {
    border-radius: 50%;
    width: 6.2rem;
    margin-top: 2.5rem;
    margin-bottom: 1.7rem;
}

.name {
  color: var(--white);
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.location {
    color: var(--green);
    font-size: 1.0rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.description {
  color: var(--white);
  font-size: 1.0rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

ul {
    list-style-type: none;   
}

ul li {
    width: 22rem;
    text-align: center;
    margin-block: 1.0rem;
    padding-block: 1.0rem;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--grey);
}

ul li a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--white);
    transition: all 0.4s ease-in-out;
}

ul li:hover {
  background-color: var(--green);
}

ul li:hover a {
  color: var(--off-black);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--white);
  margin-top: 5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* 
========================
MEDIA QUERIES
========================
 */

 @media (max-width: 375px) {
    .container {
      width: 90%;
    }

    ul li {
      width: 19rem;
     
    }
 }
